.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(5, 5, 71);
    color: #fff;
}

.container {
    text-align: center;
    max-width: 500px;
    width: 100%;
    padding: 20px ;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

h2 {
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background: rgb(2, 158, 158);;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.contact-form button:hover {
    background: #ff2e00;
}
